.colorChip {
  display: block;
  padding: 1rem;
  font-family: var(--font-primaryFont);
  border: 1px solid var(--color-jokerWhite50-opacity15);
  border-radius: 0.3rem;
}

/* White */
.whiteText {
  color: var(--color-jokerWhite50);
  font-family: var(--font-primaryFont);
  font-weight: 400;
}

.jokerWhite50 {
  background-color: var(--color-jokerWhite50);
  color: var(--color-jokerBlack400);
}
/*Black */
.jokerBlack50 {
  background-color: var(--color-jokerBlack50);
  color: var(--color-jokerWhite50);
}
.jokerBlack100 {
  background-color: var(--color-jokerBlack100);
  color: var(--color-jokerWhite50);
}
.jokerBlack300 {
  background-color: var(--color-jokerBlack300);
  color: var(--color-jokerWhite50);
}
.jokerBlack400 {
  background-color: var(--color-jokerBlack400);
  color: var(--color-jokerWhite50);
}
.jokerBlack500 {
  background-color: var(--color-jokerBlack500);
  color: var(--color-jokerWhite50);
}
.jokerBlack600 {
  background-color: var(--color-jokerBlack600);
  color: var(--color-jokerWhite50);
}
.jokerBlack700 {
  background-color: var(--color-jokerBlack700);
  color: var(--color-jokerWhite50);
}
.jokerBlack800 {
  background-color: var(--color-jokerBlack800);
  color: var(--color-jokerWhite50);
}
.jokerBlack900 {
  background-color: var(--color-jokerBlack900);
  color: var(--color-jokerWhite50);
}
/*Gold */
.jokerGold50 {
  background-color: var(--color-jokerGold50);
  color: var(--color-jokerBlack400);
}
.jokerGold100 {
  background-color: var(--color-jokerGold100);
  color: var(--color-jokerBlack400);
}
.jokerGold300 {
  background-color: var(--color-jokerGold300);
  color: var(--color-jokerBlack400);
}
.jokerGold400 {
  background-color: var(--color-jokerGold400);
  color: var(--color-jokerBlack400);
}
.jokerGold500 {
  background-color: var(--color-jokerGold500);
  color: var(--color-jokerBlack400);
}
.jokerGold600 {
  background-color: var(--color-jokerGold600);
  color: var(--color-jokerBlack400);
}
.jokerGold700 {
  background-color: var(--color-jokerGold700);
  color: var(--color-jokerBlack400);
}
.jokerGold800 {
  background-color: var(--color-jokerGold800);
  color: var(--color-jokerBlack400);
}
.jokerGold900 {
  background-color: var(--color-jokerGold900);
  color: var(--color-jokerWhite50);
}
.jokerGold1000 {
  background-color: var(--color-jokerGold1000);
  color: var(--color-jokerWhite50);
}

/*rose */

.jokerRose50 {
  background-color: var(--color-jokerRose50);
  color: var(--color-jokerBlack400);
}
.jokerRose100 {
  background-color: var(--color-jokerRose100);
  color: var(--color-jokerBlack400);
}
.jokerRose300 {
  background-color: var(--color-jokerRose300);
  color: var(--color-jokerBlack400);
}
.jokerRose400 {
  background-color: var(--color-jokerRose400);
  color: var(--color-jokerBlack400);
}
.jokerRose500 {
  background-color: var(--color-jokerRose500);
  color: var(--color-jokerBlack400);
}
.jokerRose600 {
  background-color: var(--color-jokerRose600);
  color: var(--color-jokerBlack400);
}
.jokerRose700 {
  background-color: var(--color-jokerRose700);
  color: var(--color-jokerBlack400);
}
.jokerRose800 {
  background-color: var(--color-jokerRose800);
  color: var(--color-jokerWhite50);
}
.jokerRose900 {
  background-color: var(--color-jokerRose900);
  color: var(--color-jokerWhite50);
}

/* Honey */

.jokerHoney50 {
  background-color: var(--color-jokerHoney50);
  color: var(--color-jokerBlack400);
}
.jokerHoney100 {
  background-color: var(--color-jokerHoney100);
  color: var(--color-jokerBlack400);
}
.jokerHoney300 {
  background-color: var(--color-jokerHoney300);
  color: var(--color-jokerBlack400);
}
.jokerHoney400 {
  background-color: var(--color-jokerHoney400);
  color: var(--color-jokerBlack400);
}
.jokerHoney500 {
  background-color: var(--color-jokerHoney500);
  color: var(--color-jokerBlack400);
}
.jokerHoney600 {
  background-color: var(--color-jokerHoney600);
  color: var(--color-jokerBlack400);
}
.jokerHoney700 {
  background-color: var(--color-jokerHoney700);
  color: var(--color-jokerBlack400);
}
.jokerHoney800 {
  background-color: var(--color-jokerHoney800);
  color: var(--color-jokerWhite50);
}
.jokerHoney900 {
  background-color: var(--color-jokerHoney900);
  color: var(--color-jokerWhite50);
}

/* Green */

.jokerGreen50 {
  background-color: var(--color-jokerGreen50);
  color: var(--color-jokerBlack400);
}
.jokerGreen100 {
  background-color: var(--color-jokerGreen100);
  color: var(--color-jokerBlack400);
}
.jokerGreen300 {
  background-color: var(--color-jokerGreen300);
  color: var(--color-jokerBlack400);
}
.jokerGreen400 {
  background-color: var(--color-jokerGreen400);
  color: var(--color-jokerBlack400);
}
.jokerGreen500 {
  background-color: var(--color-jokerGreen500);
  color: var(--color-jokerBlack400);
}
.jokerGreen600 {
  background-color: var(--color-jokerGreen600);
  color: var(--color-jokerBlack400);
}
.jokerGreen700 {
  background-color: var(--color-jokerGreen700);
  color: var(--color-jokerBlack400);
}
.jokerGreen800 {
  background-color: var(--color-jokerGreen800);
  color: var(--color-jokerWhite50);
}
.jokerGreen900 {
  background-color: var(--color-jokerGreen900);
  color: var(--color-jokerWhite50);
}
/* Red */

.jokerRed50 {
  background-color: var(--color-jokerRed50);
  color: var(--color-jokerBlack400);
}
.jokerRed100 {
  background-color: var(--color-jokerRed100);
  color: var(--color-jokerBlack400);
}
.jokerRed300 {
  background-color: var(--color-jokerRed300);
  color: var(--color-jokerBlack400);
}
.jokerRed400 {
  background-color: var(--color-jokerRed400);
  color: var(--color-jokerBlack400);
}
.jokerRed500 {
  background-color: var(--color-jokerRed500);
  color: var(--color-jokerBlack400);
}
.jokerRed600 {
  background-color: var(--color-jokerRed600);
  color: var(--color-jokerBlack400);
}
.jokerRed700 {
  background-color: var(--color-jokerRed700);
  color: var(--color-jokerBlack400);
}
.jokerRed800 {
  background-color: var(--color-jokerRed800);
  color: var(--color-jokerWhite50);
}
.jokerRed900 {
  background-color: var(--color-jokerRed900);
  color: var(--color-jokerWhite50);
}

/* Alert */

.jokerAlert50 {
  background-color: var(--color-jokerAlert50);
  color: var(--color-jokerBlack400);
}
.jokerAlert100 {
  background-color: var(--color-jokerAlert100);
  color: var(--color-jokerBlack400);
}
.jokerAlert300 {
  background-color: var(--color-jokerAlert300);
  color: var(--color-jokerBlack400);
}
.jokerAlert400 {
  background-color: var(--color-jokerAlert400);
  color: var(--color-jokerBlack400);
}
.jokerAlert500 {
  background-color: var(--color-jokerAlert500);
  color: var(--color-jokerBlack400);
}
.jokerAlert600 {
  background-color: var(--color-jokerAlert600);
  color: var(--color-jokerBlack400);
}
.jokerAlert700 {
  background-color: var(--color-jokerAlert700);
  color: var(--color-jokerBlack400);
}
.jokerAlert800 {
  background-color: var(--color-jokerAlert800);
  color: var(--color-jokerWhite50);
}
.jokerAlert900 {
  background-color: var(--color-jokerAlert900);
  color: var(--color-jokerWhite50);
}
/* color chip css */
.swatch-holder {
  display: grid;
   gap: 1rem;
}
.swatch-group {
  display: flex;
  flex-direction: column;
   gap: 1rem;
}

.colorchip-code-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--color-jokerBlack400);
  border: 1px solid var(--color-jokerBlack50-opacity10);
  border-radius: 1rem;
  color: var(--color-jokerWhite50);
}
.colorchip-code-container .copyTextSuccess {
  color: var(--color-jokerGreen100);
  text-shadow: 0px 0px 8px var(--color-jokerGreen200);
  transform: translateY(-3px);
  transition: all 200ms ease-in-out;
}

.opacity-code-container {background-color: rebeccapurple; width: 100%;}




.codeholder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--color-jokerBlack50-opacity10);
  border-radius: 1rem;

  padding: 2rem;
  color: var(--color-jokerWhite50);
}

.style-code-name {
  font-weight: 700;
  color: var(--color-jokerWhite50);
}

.code-example {
  font-size: var(--font-sizeParagraph03);
  color: var(--color-jokerBlack100);
  line-height: 170%;
}
.code {
  font-family: "Courier New", Courier, monospace;
  font-size: var(--font-sizeParagraph03);
  border: 1px solid var(--color-jokerBlack50-opacity20) ;
  box-shadow: var(--shadow-elevation-medium);
  background: var(--color-jokerBlack500);
  border-radius: 0 var(--border-Radius400);
  padding: 0.3rem 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  transition: all 100ms  ease-in-out;
}
.code .copyTextSuccess {
  color: var(--color-jokerGreen100);
  text-shadow: 0px 0px 8px var(--color-jokerGreen200);
  transform: translateY(-3px);
  transition: all 200ms ease-in-out;

}

.copyButton {
  height: 2.5rem;
  width: 2.5rem;
  background: var(--color-jokerBlack300);
  border: 1px solid var(--color-jokerBlack100-opacity30);
  border-radius: var(--border-Radius200);
  box-shadow: var(--shadow-elevation-medium);
  transition: all 200ms ease;
}
.copyButton:hover {
  transform: scale(1.1);
  transition: all 200ms ease;
  background: var(--color-jokerBlack300);
  border: 1px solid var(--color-jokerBlack100-opacity80);
  box-shadow: var(--shadow-elevation-high);
  transform: translateY(-2px);
}
.copy-icon {
  height: 20px;
  width: 20px;
  fill: var(--color-jokerBlack100);
}
.copySuccess {
  background-color: var(--color-jokerGreen400-opacity30);
  font-size: 0.8rem;
  border: 1px solid var(--color-jokerGreen300-opacity60);
}
.copySuccess:hover {
  background-color: var(--color-jokerGreen400-opacity30);
  border: 1px solid var(--color-jokerGreen300-opacity60);
}
