.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Inter;
  font-weight: var(--font-weight400);
  gap: 0.5rem;
  border-radius: var(--border-Radius400);
  cursor: pointer;
  position: relative;
  transition: all 400ms ease;
}

.button-equal-width {
  flex: 1 1 "100%";
}

/* CTA Button */
.cta {
  background-color: var(--color-jokerBlack200);
  color: var(--color-jokerWhite50);
  border: 1px solid var(--color-jokerBlack100);
}

.cta:hover {
  background-color: var(--color-jokerBlack300);
  transform: scale(1.01);
  filter: drop-shadow(0 0.5rem 5px var(--color-jokerBlack900));
}

/* Primary Button */
.primary:hover {
  border: 1px solid var(--color-jokerBlack100);
  background-color: var(--color-jokerBlack300);
  color: var(--color-jokerWhite50);
  transform: scale(1.01);
  filter: drop-shadow(0 0.5rem 5px var(--color-jokerBlack900));
}

.primary {
  border: 1px solid var(--color-jokerBlack200);
  background-color: var(--color-jokerBlack500);
  color: var(--color-jokerWhite50);
}

.primary.highlighted {
  color: var(--color-jokerGold400);
  background-color: var(--color-jokerGold1000);
  border: 1px solid var(--color-jokerGold400);
}

.primary.highlighted:hover {
  border: 1px solid var(--color-jokerBlack100);
  background-color: var(--color-jokerBlack300);
  transform: scale(1.01);
  filter: drop-shadow(0 2px 8px 0px var(--color-jokerGold400));
}

/* Seconday */
.secondary {
  border: 1px solid var(--color-jokerBlack300);
  background-color: var(--color-jokerBlack200-opacity00);
  color: var(--color-jokerBlack100);
}

.secondary:hover {
  border: 1px solid var(--color-jokerBlack100);
  background-color: var(--color-jokerBlack200);
  color: var(--color-jokerWhite50);
  transform: scale(1.01);
  filter: drop-shadow(0 0.5rem 5px var(--color-jokerBlack900));
}

/* Text Button */
.text:hover {
  background-color: var(--color-jokerBlack200);
  color: var(--color-jokerWhite50);
}

.text {
  background-color: transparent;
  color: var(--color-jokerBlack50);
  border: none;
}

/* Link Button */
.link {
  color: var(--color-jokerBlack50);
  display: inline-flex;
  text-decoration: none;
}

.link.highlighted {
  color: var(--color-jokerGold400);
}

.link.highlighted:hover {
  color: var(--color-jokerGold500);
}

.link:hover {
  color: var(--color-jokerWhite50);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
  color: var(--color-jokerBlack100);
}

/* Size */
.small {
  font-size: var(--font-sizeParagraph02);
  padding: 0.5rem 1.2rem 0.5rem 1rem;
  border-radius: var(--border-Radius200);
}

.small img {
  height: 1.25rem;
}

.normal {
  font-size: var(--font-sizeParagraph02);
  padding: 0.8rem 1.75rem 0.8rem 1.5rem;
}

.normal img {
  height: 1.5rem;
  width: 1.5rem;
}

.medium {
  font-size: var(--font-sizeParagraph02);
  padding: 0.8rem 1.75rem 0.8rem 1.5rem;
}

.medium img {
  height: 1.5rem;
  width: 1.5rem;
}

.large {
  font-size: var(--font-sizeParagraph01);
  padding: 0.8rem 1.75rem 0.8rem 1.5rem;
}

.link.small {
  padding: 0px;
}

.link.normal {
  padding: 0px;
}

.link.large {
  padding: 0px;
}

/* Animation */
.animated {
  display: inline-flex;
  border: 0px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  border-radius: var(--border-Radius400);
  transition: all 400ms ease;
}

.animated.small {
  padding: 0;
  border-radius: var(--border-Radius200);
}

.animated.normal {
  padding: 0;
}

.animated.large {
  padding: 0;
}

.animated .button {
  margin: 1px;
  position: relative;
  z-index: 1;
  filter: none;
}

.animated .button:hover {
  transform: scale(1);
}

.animated:hover {
  transform: scale(1.01);
  filter: drop-shadow(0 0.5rem 5px var(--color-jokerBlack900));
}

.animated::after {
  content: "";
  display: block;
  background: linear-gradient(
    90deg,
    var(--color-jokerBlack300) 0%,
    var(--color-jokerGold200) 60%,
    var(--color-jokerBlack300) 100%
  );
  height: 15rem;
  width: 18.5rem;
  transform: translate(0);
  position: absolute;
  animation: rotate 4s linear infinite;
  z-index: 0;
  transform-origin: top center;
  filter: blur(5rem);
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.underlined {
  text-decoration: underline;
}
